<% url = url || nil %>
<%= form_with(model: @item, url: url) do |form| %>
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title m-0">Коллекция</h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
      </div>
    </div>

    <div class="card-body">
      <%= render 'web/shared/error_messages', resource: @item %>
      <% if @item.new_record? %>
        <%= form.hidden_field :parent_id, value: params[:parent_id] %>
      <% end %>
      <div class="form-group">
        <%= form.label :label, 'Наименование' %>
        <%= form.text_field :label, class: 'form-control form-control-sm' %>
      </div>
      <div class="form-group">
        <%= form.label :sort_order, '№ (Порядок сортировки)' %>
        <%= form.number_field :sort_order, class: 'form-control form-control-sm', value: @item.new_record? ? Collection::Item.max_sort_order_by_level(params[:parent_id]) + 1 : @item.sort_order %>
      </div>
    </div>

    <div class="card-footer">
      <%= link_to icon('fas', 'arrow-left', 'Назад'), back_path, class: 'btn btn-secondary' %>
      <%= form.submit 'Сохранить', class: 'btn btn-success float-right' %>
    </div>
  </div>
<% end %>