<h6 class="top-card-title mt-4">Дочерние коллекции</h6>
<div id="items-card" class="card card-primary-2 card-outline">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-11">
        <div class="row align-items-center display-flex">
          <div class="m-1">
            <% if policy(@item).create? %>
              <div><%= draw_new_button(path: new_collection_item_path(parent_id: @item.id), button: true) %></div>
            <% end %>
          </div>
          <%= render 'web/shared/search_form', q: @q, url: collection_item_path(@item), search_key: :q, onchange_action: '' %>
        </div>
      </div>
      <div class="col col-md-1">
        <div class="card-tools float-right">
          <div class="m-1">
            <%== pagy_bootstrap_nav_sm(@pagy_q) %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body p-0" style="max-height:400px;overflow:auto;">
    <table id="items-table" class="table table-striped table-bordered">
      <thead>
      <tr>
        <th style="width:10px;"><%= sort_link(@q, :sort_order, '№') %></th>
        <th style="width:10px;"><%= sort_link(@q, :id, 'ID') %></th>
        <th><%= sort_link(@q, :label, 'Наименование') %></th>
      </tr>
      </thead>
      <tbody>
      <% @children.each do |item| %>
        <% td_class = item.discarded? ? ' class=bg-danger' : '' %>
        <tr>
          <td<%= td_class %>><%= link_to item.sort_order, item %></td>
          <td<%= td_class %>><%= link_to item.id, item %></td>
          <td<%= td_class %>><%= link_to item.label, item %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
