<%
  @breadcrumbs = [
    {
      title: 'Коллекции',
      path: collection_items_path
    },
    {
      title: @field.item.label,
      path: collection_item_path(@field.item)
    },
    {
      title: @field.id,
      path: collection_item_field_path(@field.item, @field),
    },
  ]
%>

<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title m-0">Поле дочерней коллекции</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
    </div>
  </div>

  <div class="card-body form-card">
    <div class="form-field">
      <label>Наименование</label>
      <div><%= @field.label %></div>
    </div>
    <div class="form-field">
      <label>№ (Порядок сортировки)</label>
      <div><%= @field.sort_order %></div>
    </div>
    <div class="form-field">
      <label>Тип поля</label>
      <div><%= @field.field_type_label %></div>
    </div>
    <% if %w[select checkbox radio].include?(@field.field_type) %>
      <div class="form-field">
        <label>Список значений</label>
        <div class="line-break"><%= serialized_array(@field.field_values, prefix: '- ') %></div>
      </div>
    <% end %>
    <div class="form-field">
      <label>Показывать подсказку</label>
      <div><%= checkbox_val(@field.show_tooltip) %></div>
    </div>
    <% if @field.show_tooltip %>
      <div class="form-field">
        <label>Подсказка</label>
        <div><%= @field.tooltip %></div>
      </div>
    <% end %>
    <% if %w[text textarea].include?(@field.field_type) %>
      <div class="form-field">
        <label>Числовое</label>
        <div><%= checkbox_val(@field.is_numeric) %></div>
      </div>
    <% end %>
    <% if @field.is_numeric %>
      <div class="form-field">
        <label>Не форматировать</label>
        <div><%= checkbox_val(@field.no_format) %></div>
      </div>
      <div class="form-field">
        <label>Количество знаков после запятой</label>
        <div><%= @field.precision %></div>
      </div>
      <div class="form-field">
        <label>Минимальное значение</label>
        <div><%= @field.min_value %></div>
      </div>
      <div class="form-field">
        <label>Максимальное значение</label>
        <div><%= @field.max_value %></div>
      </div>
      <div class="form-field">
        <label>Шаг</label>
        <div><%= @field.step %></div>
      </div>
    <% end %>
    <div class="form-field">
      <label>Значение по-умолчанию</label>
      <div><%= @field.default_value %></div>
    </div>
  </div>

  <div class="card-footer">
    <% if policy(@field).update? %>
      <%= draw_edit_button(path: edit_collection_item_field_path(@field)) %>
    <% end %>

    <%= draw_back_button(path: collection_item_path(@field.item)) %>

    <% if policy(@field).restore? %>
      <%= link_to(icon('fas', 'trash-restore', 'Восстановить'), restore_collection_item_field_path(@field.item, @field), method: :post, class: 'btn btn-warning float-right') %>
    <% end %>
    <% if policy(@field).destroy? %>
      <%= draw_delete_button(path: collection_item_field_path(@field.item, @field)) %>
    <% end %>
  </div>
</div>
